In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("Brain_Stroke_Data/healthcare-dataset-stroke-data.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
df['stroke'].value_counts(normalize=True)

0    0.951272
1    0.048728
Name: stroke, dtype: float64

In [4]:
df['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [5]:
df.dropna()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [6]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [8]:
gender=enc.fit_transform(df['gender'])
smoking_status=enc.fit_transform(df['smoking_status'])
work_type=enc.fit_transform(df['work_type'])
Residence_type=enc.fit_transform(df['Residence_type'])
ever_married=enc.fit_transform(df['ever_married'])

In [9]:
df['ever_married']=ever_married
df['Residence_type']=Residence_type
df['smoking_status']=smoking_status
df['gender']=gender
df['work_type']=work_type

In [10]:
df[['ever_married', 'Residence_type', 'smoking_status', 'gender', 'work_type']].head()

   ever_married  Residence_type  smoking_status  gender  work_type
0             1               1               1       1          2
1             1               0               2       0          3
2             1               0               2       1          2
3             1               1               3       0          2
4             1               0               2       0          3

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int32
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int32
 6   work_type          5110 non-null   int32
 7   Residence_type     5110 non-null   int32
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int32
 11  stroke             5110 non-null   int64
dtypes: float64(3), int32(5), int64(4)
memory usage: 379.4 KB

In [12]:
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [14]:
df['stroke'].value_counts()

0    4700
1     209
Name: stroke, dtype: int64

In [15]:
df['stroke'].value_counts(normalize=True)

0    0.957425
1    0.042575
Name: stroke, dtype: float64

In [16]:
X = df.drop(columns = ['stroke', 'id'])
y = df['stroke']

In [17]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X, y)

In [18]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, random_state=78)

In [19]:
X_train.shape

(7050, 10)

In [20]:
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [21]:
classifier.fit(X_train, y_train)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=1)

In [22]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Prediction  Actual
4481           0       0
4181           0       0
6209           0       1
2331           0       0
7915           1       1
...          ...     ...
1172           0       0
1056           1       0
2670           1       0
2058           0       0
6913           1       1

[2350 rows x 2 columns]

In [23]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, predictions)
print(matrix)

report = classification_report(y_test, predictions)
print(report)

[[903 305]
 [216 926]]
              precision    recall  f1-score   support

           0       0.81      0.75      0.78      1208
           1       0.75      0.81      0.78      1142

    accuracy                           0.78      2350
   macro avg       0.78      0.78      0.78      2350
weighted avg       0.78      0.78      0.78      2350

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
param_grid = {
'n_estimators': [50, 75,100, 150, 200,300],
}
rcv=RandomizedSearchCV(RandomForestClassifier(random_state=42),param_grid,cv=5)
rcv.fit(X_train,y_train)
y_pred_rcv=rcv.predict(X_test)
confusion_rcv=confusion_matrix(y_test,rcv.predict(X_test))
print(classification_report(y_test,y_pred_rcv))

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\sklearn\model_selection\_search.py:296: UserWarning: The total space of parameters 6 is smaller than n_iter=10. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  UserWarning,

              precision    recall  f1-score   support

           0       1.00      0.99      0.99      1208
           1       0.99      1.00      0.99      1142

    accuracy                           0.99      2350
   macro avg       0.99      0.99      0.99      2350
weighted avg       0.99      0.99      0.99      2350

In [25]:
pd.DataFrame({"Prediction": y_pred_rcv, "Actual": y_test}).join(X_test)

,Prediction,Actual,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
4481,0,0,1,39.00,0,0,1,0,0,73.07,26.8,3
4181,0,0,1,1.72,0,0,0,4,1,73.08,20.4,0
6209,1,1,0,56.00,0,0,1,0,0,162.23,27.3,0
2331,0,0,0,24.00,0,0,0,2,1,70.32,20.5,0
7915,1,1,0,73.00,1,0,1,2,0,190.14,36.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,0,0,0,33.00,0,0,1,0,0,76.66,24.8,2
1056,0,0,0,69.00,0,0,1,3,1,80.85,29.3,1
2670,0,0,0,51.00,0,1,1,3,1,100.96,33.4,2
2058,0,0,1,40.00,0,0,1,2,0,80.25,30.3,1
6913,1,1,0,68.00,0,0,1,2,0,211.06,39.3,0

In [26]:
new_data = np.array([[0, 73, 1, 0, 1, 2, 0, 190.14, 36.5, 2]])

In [27]:
rcv.predict(new_data)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=int64)